# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# staging and build output
/www
/platforms

# Capacitor
/ios/App/public
/ios/App/App
/android/app/src/main/assets/public
/android/app/build
/android/.gradle
/android/app/*.keystore
/android/app/*.jks
/android/local.properties
/android/.idea

# misc
/.DS_Store
.idea
.vscode
*.sublime-project
*.sublime-workspace

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# package locks
package-lock.json

# editor directories and files
.vscode/

# Angular
/angular.json
/tsconfig.json
/tslint.json

# Other
/.pnp
.pnp.js

# Tests
/coverage
/.nyc_output
/.eslintrc.cache
